<div class="strass-container">
  <div class="info-card-photo" style="background-image:
  url('<%= cl_image_path @cocktail.photo.key %>')">
  </div>
  <div class="info-card-content">
    <%= simple_form_for (@cocktail) do |f| %>
      <div class="form-edit-header orange-banner">
        <h1><%= f.input :name, label: false %></h1>
      </div>
      <div class="form-edit-element-container">
        <%= f.input :photo, as: :file %>
        <%= f.fields_for :doses, Dose.new do |dose_attributes|%>
          <%= dose_attributes.input :description %>
          <%= dose_attributes.association :ingredient, input_html: { class: 'select2' } %>
          <%= f.submit 'Add an ingedient', class: 'grey-btn' %>
        <% end %>
      </div>
      <div class="form-edit-footer">
        <%= f.submit 'All done ðŸ¸' , class: 'orange-btn form-submit-btn' %>
      </div>
    <% end %>
  </div>
  <div class="info-card-content form-edit-ingredient">
    <div class="body">
      <div class="ingredients">
        <h2>Ingredients</h2>
        <% @cocktail.doses.each do |dose| %>
          <span><%= dose.ingredient.name%> - <%= dose.description %>&nbsp;&nbsp;&nbsp;</span>
          <%= link_to "ðŸ—‘", cocktail_dose_path(dose, @cocktail.id), method: :delete, data: { confirm: "Are you sure?" } %>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
