<div class="strass-container">
  <div class="info-card-photo" style="background-image:
  url('<%= cl_image_path @cocktail.photo.key %>')">
  </div>
  <div class="info-card-content">
    <div class="header">
      <%= simple_form_for (@cocktail) do |f| %>
        <h1><%= f.input :name, label: false %></h1>
    </div>
    <div class="body">
      <div class="ingredients">
        <h2>Ingredients</h2>
        <% @cocktail.doses.each do |dose| %>
          <span><%= dose.ingredient.name%> - <%= dose.description %>&nbsp;&nbsp;&nbsp;</span>
          <%= link_to "ðŸ—‘", cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" } %>
          <br>
        <% end %>
      </div>
      <%= f.submit 'All done ðŸ¸' , class: 'orange-btn form-submit-btn' %>
    <% end %>
    <%= link_to "Back", cocktail_path(@cocktail), class: 'grey-btn form-submit-btn'%>
    </div>
  </div>
  <div class="info-card-content form-edit-ingredient">
    <div class="body">
      <div class="ingredients">
        <h2>Add an ingredient</h2>
        <%= simple_form_for (@dose), url: cocktail_doses_path(@cocktail) do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient, input_html: { class: 'select2' } %>
          <%= f.submit 'Add ingedient', name: "more_ingredient", class: 'form-submit-btn grey-btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


