<div class="strass-container">
  <div class="card-form">
    <%= simple_form_for (@cocktail) do |f| %>
      <div class="form-header orange-banner">
        <%= f.input :name, label: false %>
      </div>
      <div class="form-element-container">
        <%= f.input :photo, as: :file %>
        <%= f.fields_for :doses, Dose.new do |dose_attributes|%>
          <%= dose_attributes.input :description %>
          <%= dose_attributes.association :ingredient, input_html: { class: 'select2' } %>
          <%= f.submit 'Add an ingedient', class: 'grey-btn' %>
        <% end %>
      </div>
      <div class="form-footer">
        <%= f.submit 'All done ðŸ¸' , class: 'orange-btn form-submit-btn' %>
      </div>
    <% end %>
  </div>
</div>
