<div class="strass-container">
  <div class="info-card-photo" style="background-image:
  url('<%= cl_image_path @cocktail.photo.key %>')">
  </div>
  <div class="info-card-content">
    <div class="header">
      <h1><%= @cocktail.name %></h1>
    </div>
    <div class="body">
      <div class="ingredients">
        <h2>Ingredients</h2>
        <% @cocktail.doses.each do |dose| %>
          <p><%= dose.ingredient.name%> || <%= dose.description %></p>
        <% end %>
      </div>
      <%= link_to "Edit cocktail", edit_cocktail_path(@cocktail), class: 'orange-btn' %>
    </div>
  </div>
</div>
